version: '3'

services:
  php:
    image: {{ container_image }}
    user: {{ user_group_numeric }}
    env_file:{% for envfile in env_files %}
      - {{ envfile }}{% endfor %}
    volumes:
      - {{ web_root_dir }}/{{ site_name }}/htdocs:{{ container_htdocs }}
    networks:
      {{ container_network }}:
        ipv4_address: {{ container_ip }}

networks:
  {{ container_network }}:
    external: true