{% if tls_enabled %}

server {
    listen         80;
    listen         [::]:80;

    server_name    .{{ site_name }};
    server_tokens off;

    access_log off;

    location ^~ /.well-known/ {
        allow all;
        auth_basic off;
        default_type "text/plain";
        alias {{ web_root_dir }}/{{ site_name }}/{{ site_root }}/.well-known/;
    }

    location / {
        return         301 https://$server_name$request_uri;
    }
}

server {
    listen 443 ssl http2;
    listen [::]:443 ssl http2;

    server_name .{{ site_name }};
    server_tokens off;

    root {{ web_root_dir }}/{{ site_name }}/{{ site_root }};
    {% if needs_dcompose %}
    index index.php index.html;
    {% else %}
    index index.html;
    {% endif %}

    ssl_certificate {{ cert_path }};
    ssl_certificate_key {{ cert_key_path }};

    include includes/ssl.conf;

    access_log {{ web_root_dir }}/{{ site_name }}/log/access.log;
    error_log {{ web_root_dir }}/{{ site_name }}/log/error.log;

    location ^~ /.well-known/ {
        allow all;
        auth_basic off;
    }

    # Deny access to hidden files and directories
    location ~ (^|/)\. {
        return 403;
    }

    {% if needs_dcompose %}
    location / {
        try_files $uri /index.php?$query_string;
    }

    location @rewrite {
        rewrite ^/(.*)$ /index.php?q=$1;
    }

    location ~ [^/]\.php(/|$) {
        fastcgi_split_path_info ^(.+?\.php)(/.*)$;
        fastcgi_param HTTP_PROXY "";

        fastcgi_pass    {{ container_ip }}:{{ phpfpm_port }};
        fastcgi_index   index.php;
        include fastcgi_params;
        fastcgi_param   SCRIPT_NAME        $fastcgi_script_name;
        fastcgi_param   SCRIPT_FILENAME    /{{ site_root }}/$fastcgi_script_name;
        fastcgi_buffers 16 16k; 
        fastcgi_buffer_size 32k;
    }

    location ~ ^/sites/.*/files/styles/ {
        try_files $uri @rewrite;
    }

    location ~ ^(/[a-z\-]+)?/system/files/ {
        try_files $uri /index.php?$query_string;
    }
    {% endif %}

    location ~* \.(js|css|png|jpg|jpeg|gif|ico)$ {
        expires max;
        log_not_found off;
    }

    location = /favicon.ico {
        access_log off;
        log_not_found off;
    }

    location = /robots.txt {
        allow all;
        access_log off;
        log_not_found off;
    }

    location ~ /vendor/ {
        return 403;
    }
}

{% else %}

server {
    listen         80;
    listen         [::]:80;

    server_name    .{{ site_name }};
    server_tokens off;

    root {{ web_root_dir }}/{{ site_name }}/{{ site_root }};

    {% if needs_dcompose %}
    index index.php index.html;
    {% else %}
    index index.html;
    {% endif %}

    access_log {{ web_root_dir }}/{{ site_name }}/log/access.log;
    error_log {{ web_root_dir }}/{{ site_name }}/log/error.log;

    location ^~ /.well-known/ {
        allow all;
        auth_basic off;
    }

    # Deny access to hidden files and directories
    location ~ (^|/)\. {
        return 403;
    }

    {% if needs_dcompose %}
    location / {
        try_files $uri /index.php?$query_string;
    }

    location @rewrite {
        rewrite ^/(.*)$ /index.php?q=$1;
    }

    location ~ [^/]\.php(/|$) {
        fastcgi_split_path_info ^(.+?\.php)(/.*)$;
        fastcgi_param HTTP_PROXY "";

        fastcgi_pass    {{ container_ip }}:{{ phpfpm_port }};
        fastcgi_index   index.php;
        include fastcgi_params;
        fastcgi_param   SCRIPT_NAME        $fastcgi_script_name;
        fastcgi_param   SCRIPT_FILENAME    /{{ site_root }}/$fastcgi_script_name;
        fastcgi_buffers 16 16k; 
        fastcgi_buffer_size 32k;
    }

    location ~ ^/sites/.*/files/styles/ {
        try_files $uri @rewrite;
    }

    location ~ ^(/[a-z\-]+)?/system/files/ {
        try_files $uri /index.php?$query_string;
    }
    {% endif %}

    location ~* \.(js|css|png|jpg|jpeg|gif|ico)$ {
        expires max;
        log_not_found off;
    }

    location = /favicon.ico {
        access_log off;
        log_not_found off;
    }

    location = /robots.txt {
        allow all;
        access_log off;
        log_not_found off;
    }

    location ~ /vendor/ {
        return 403;
    }
}

{% endif %}
