{% for db in databases %}WS_DB_{{ db.confname }}_NAME={{ db.dbname }}
WS_DB_{{ db.confname }}_USER={{ db.username }}
WS_DB_{{ db.confname }}_PASS={{ db.password }}
{% endfor %}
{% for k, v in extra_hosts %}WS_HOSTNAME_{{ k }}={{ v }}
{% endfor %}
SMTP_USERNAME=
SMTP_PASSWORD=
